:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-text-cl: #ffffff;

  --main-bg: #ffffff;
  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text-cl);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Header */
.header-section {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* Logo */

.header-logo {
  margin-right: 93px;
  color: #000000;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-logo-word {
  color: var(--accent-cl);
}
/* Site nav */

.site-nav {
  display: inline-flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  color: var(--title-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-cl);
}
.site-nav .current {
  color: var(--accent-cl);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-cl);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Site auth */

.site-auth {
  display: inline-flex;
  margin-left: auto;
}
.site-auth .item:not(:last-child) {
  margin-right: 50px;
}

.site-auth-link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-auth-link:hover,
.site-auth-link:focus {
  color: var(--accent-cl);
}

.site-auth-svg {
  fill: currentColor;
  margin-right: 10px;
  padding: 0;
}

/* Main section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-section {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--dark-bg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mainimg/mainimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.main-section-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-btn {
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-cl);
  cursor: pointer;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-cl);
}

/* Features section */

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list .item {
  max-width: 270px;
}
.features-section-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-cl);
}

.features-text {
  margin-bottom: 0;
}

.features-icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--second-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Work section */

.work-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list .thumb {
  position: relative;
}

.work-list .box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.work-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}

/* Team section */

.bg-section {
  background-color: var(--second-bg);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-item {
  padding: 30px 32px;
  background-color: #fff;
}

.card-item p {
  margin-top: 10px;
  margin-bottom: 0;
}

.team-section {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-name {
  margin-bottom: 0;
  color: var(--title-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-socials {
  display: flex;
  margin-top: 16px;
}

.team-socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--accent-cl);
}

.team-socials-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover .team-socials-icon,
.team-socials-link:focus .team-socials-icon {
  fill: #fff;
}

.item-icon:not(:last-child) {
  margin-right: 10px;
}

/* Clients section */

.clients {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-cl);
}

.clients-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-cl);
}

/* Portfolio */

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;

  border-radius: 4px;
  border: none;

  color: var(--title-cl);
  background-color: var(--second-bg);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-cl);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  display: flex;
  width: 370px;
  flex-basis: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-card {
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-sec-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
}

.project-direction {
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
}
.card-link {
  display: block;
  transition-property: box-sizing, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover,
.card-link:focus {
  box-shadow: var(--card-shadow);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0);
}

.overlay-content {
  display: block;
  width: 322px;
  height: 168px;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.footer > div {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}
.footer-logo {
  color: #ffffff;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo-word {
  color: var(--accent-cl);
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}
.address-conn {
  color: rgba(255, 255, 255, 0.6);
}

.address a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address a:hover,
.address a:focus {
  color: var(--accent-cl);
}

.footer-socials-text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1, 14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials {
  display: flex;
}

.footer-socials-icon {
  fill: #fff;
}

.footer-socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-cl);
}

.footer-div {
  display: flex;
}

.footer-socials-section {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-signup-form {
  display: flex;
}

.email-form {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}

.email-form::placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.sign-footer-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.sign-footer-icon {
  margin-left: 10px;
}

.footer-signup-section {
  padding-top: 12px;
  margin-left: auto;
}

.icon-telegram {
  fill: #fff;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #000;
}
.modal-btn:hover .close-icon,
.modal-btn:focus .close-icon {
  fill: var(--accent-cl);
}

.data-form {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.data-input {
  min-width: 448px;
  min-height: 40px;
  padding: 0 0 0 42px;

  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-input:focus {
  border-color: var(--accent-cl);
}

.data-input:focus + .data-icon {
  fill: var(--accent-cl);
}

.data-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.data-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;

  color: var(--title-cl);
}

.data-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.data-comment:focus {
  border-color: var(--accent-cl);
}

.contract-link {
  margin-left: 4px;
  color: var(--accent-cl);
}

.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 9px;

  width: 16px;
  height: 15px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #000000;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-image: url(../images/icons/icomoon/checkon.svg);
  background-color: var(--accent-cl);
  background-size: contain;
  background-origin: border-box;
}
.check-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:focus + .checkbox-icon {
  border-color: var(--accent-cl);
}

.agreement-btn {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-cl);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-btn :hover,
.agreement-btn :focus {
  background-color: #188ce8;
}
